.clickable {
  border-radius: 0.5rem;
  cursor: pointer;
}

.clickable:hover {
  /* opacity: 0.4; */
  background-color: black;
  color: white;
}

.clickable:hover * {
  /* opacity: 0.4; */
  color: white !important;
}

.searchInput {
  margin: 1rem 0;
}

.tokenListContainer {
  margin-top: 1rem;
  overflow: scroll;
  max-height: 50vh;
}
